<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
    <div class="col-8 offset-2">
    <h1> Edit your Listing</h1>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" 
        class="needs-validation" enctype="multipart/form-data" novalidate>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
            <div class="invalid-feedback">Title should be valid</div>
        </div>
        <div class="mb-3">
        <label for="title" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
        <div class="invalid-feedback">Description should be valid</div>
        </div>
        <div class="mb-3 form-label ">
            <label for="image" class="form-label">Listing Image</label>
            <img src="<%= originalImage %>" class="card" style= "max-width: 25rem; max-height: 15rem;"/>
        </div>
        <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>
        <input type="file" name="listing[image]" class="form-control">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control" required>
                <div class="invalid-feedback">Price should be valid</div>
            </div>
        <div class="mb-3 col-md-8">
                <label for="location" class="form-label">Location</label>
        <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
        <div class="invalid-feedback">LOcation should be valid</div>
        </div>
        </div>

        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
        <input type="text" name="listing[country]" value="<%= listing.country %>"class="form-control"  required>
        <div class="invalid-feedback">Location should be valid</div>
        </div>

        <button class="btn btn-dark mb-3 mt-3 add-btn">Edit Listing</button>
    </form>
    </div>
    </div> 
